<nav [ngStyle]="style">
  <app-icon-clock
    [iconSize]="cs.clockSize / cs.iconScale"
    [strokeColour]="cs.mode.color"
    title="Clock"
    [routerLink]="'clock'"
  >
  </app-icon-clock>
  <app-icon-stopwatch
    [iconSize]="cs.clockSize / cs.iconScale"
    [strokeColour]="cs.mode.color"
    title="Stopwatch"
    [routerLink]="'stopwatch'"
  >
  </app-icon-stopwatch>
  <app-icon-settings
    [iconSize]="cs.clockSize / cs.iconScale"
    [strokeColour]="cs.mode.color"
    title="Settings"
  ></app-icon-settings>
  <app-icon-day
    [iconSize]="cs.clockSize / cs.iconScale"
    [strokeColour]="cs.mode.color"
    (click)="toggleColours()"
    title="Toggle colour mode"
  ></app-icon-day>
</nav>
