<nav [ngStyle]="navStyle">
  <app-icon-clock
    [iconSize]="iconSize"
    [strokeColour]="cs.mode.color"
    [fillColour]="fillColour"
    title="Clock"
    [routerLink]="'clock'"
  >
  </app-icon-clock>
  <app-icon-stopwatch
    [iconSize]="iconSize"
    [strokeColour]="cs.mode.color"
    [fillColour]="fillColour"
    title="Stopwatch"
    [routerLink]="'stopwatch'"
  >
  </app-icon-stopwatch>
  <app-icon-timer
    [iconSize]="iconSize"
    [strokeColour]="cs.mode.color"
    [fillColour]="fillColour"
    title="Timer"
    [routerLink]="'timer'"
  >
  </app-icon-timer>
  <app-icon-settings
    [iconSize]="iconSize"
    [strokeColour]="cs.mode.color"
    [fillColour]="fillColour"
    title="Settings"
    [routerLink]="'settings'"
  ></app-icon-settings>
</nav>
