section:hover {
  cursor: pointer;
}

svg {
  stroke-width: 2%;
  height: calc(var(--height) * 1px);
  width: calc(var(--width) * 1px);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.not-selected {
  stroke: black;
  fill: white;
  color: var(--stroke);
}
.selected {
  stroke: black;
  fill: red;
  color: red;
}

// .st1 {
//   stroke: black;
// }

.st0 {
  stroke: black;
  fill: white;
}

