<section
  [style.--height]="iconSize"
  [style.--width]="iconSize"
  [style.--fill]="fillColour"
  [style.--stroke]="strokeColour"
  [ngClass]="selected ? 'selected' : 'not-selected'"
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 557.44 557.44">
    >
    <g
      id="layer1"
      inkscape:label="Ebene 1"
      inkscape:groupmode="layer"
      transform="translate(-72.424 -203.08)"
    >
      <path
        id="path3755"
        sodipodi:rx="265.71429"
        sodipodi:ry="265.71429"
        style="stroke: #888a8e; stroke-width: 26"
        sodipodi:type="arc"
        d="m465.71 426.65c0 146.75-118.96 265.71-265.71 265.71s-265.71-118.96-265.71-265.71 118.96-265.71 265.71-265.71 265.71 118.96 265.71 265.71z"
        transform="translate(151.14 55.143)"
        sodipodi:cy="426.64789"
        sodipodi:cx="200"
      />

      <path
        id="path3757"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 23"
        inkscape:connector-curvature="0"
        d="m95.143 483.51h100"
      />
      <path
        id="path3759"
        d="m507.14 483.51h100"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 23"
        inkscape:connector-curvature="0"
      />
      <path
        id="path3761"
        d="m351.14 225.51v100"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 23"
        inkscape:connector-curvature="0"
      />
      <path
        id="path3763"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 23"
        inkscape:connector-curvature="0"
        d="m351.14 637.51v100"
      />
      <path
        id="path3765"
        d="m454.11 660.12 25.774 44.642"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
      />
      <path
        id="path3767"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
        d="m224.11 259.68 25.774 44.642"
      />
      <path
        id="path3769"
        d="m130.21 352.77 44.642 25.774"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
      />
      <path
        id="path3790"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
        d="m528.47 583.47 44.642 25.774"
      />
      <path
        id="path3792"
        d="m528.53 380.5 44.642-25.774"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
      />
      <path
        id="path3794"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
        d="m128.89 608.72 44.642-25.774"
      />
      <path
        id="path3796"
        d="m453.86 304.94 25.774-44.642"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
      />
      <path
        id="path3798"
        style="stroke: #2c3a4e; stroke-miterlimit: 0; stroke-width: 20"
        inkscape:connector-curvature="0"
        d="m223.5 703.69 25.774-44.642"
      />
      <path
        id="path3802"
        sodipodi:nodetypes="cc"
        style="
          stroke: #2c3a4e;
          stroke-linecap: square;
          stroke-miterlimit: 0;
          stroke-width: 20;
        "
        inkscape:connector-curvature="0"
        d="m349.86 482.51 66.43-178.58"
      />
      <path
        id="path3804"
        sodipodi:nodetypes="cc"
        style="
          stroke: #2c3a4e;
          stroke-linecap: square;
          stroke-miterlimit: 0;
          stroke-width: 23;
        "
        inkscape:connector-curvature="0"
        d="m434.29 539.51-82.86-57.15"
      />
    </g>
  </svg>
  <p>Clock</p>
</section>
