<section id="clock-face" [ngStyle]="clockSizing">
  <div class="dot" [ngStyle]="handsStyles"></div>
  <time *ngFor="let i of hours" id="h{{ i }}">{{ i }}</time>
  <span
    class="arm seconds"
    style.transform="rotate({{ degreesSeconds }}deg)"
  ></span>
  <span
    class="arm minutes"
    [ngStyle]="handsStyles"
    style.transform="rotate({{ degreesMinutes }}deg)"
  ></span>
  <span
    class="arm hours"
    [ngStyle]="handsStyles"
    style.transform="rotate({{ degreesHours }}deg)"
  ></span>
  <div
    class="dialline-large"
    [ngStyle]="largeStyles"
    *ngFor="let i of dialLinesLarge"
    style.transform="rotate({{ i }}deg)"
  ></div>
  <div
    class="dialline"
    [ngStyle]="smallStyles"
    *ngFor="let i of dialLinesSmall"
    style.transform="rotate({{ i }}deg)"
  ></div>
</section>
