
#clock-face {
  border-radius: 50%;
  position: relative;

  & time {
    position: absolute;
  }

  & #h12 {
    top: 5%;
    left: 47%;
  }
  & #h1 {
    top: 10%;
    left: 69%;
  }
  & #h2 {
    top: 25%;
    left: 85%;
  }
  & #h3 {
    top: 46%;
    left: 91%;
  }
  & #h4 {
    top: 68%;
    left: 85%;
  }
  & #h5 {
    top: 82%;
    left: 69%;
  }
  & #h6 {
    top: 87%;
    left: 48%;
  }
  & #h7 {
    top: 81%;
    left: 27%;
  }
  & #h8 {
    top: 68%;
    left: 12%;
  }
  & #h9 {
    top: 46%;
    left: 6%;
  }
  & #h10 {
    top: 25%;
    left: 11%;
  }
  & #h11 {
    top: 10%;
    left: 26%;
  }

  & .arm {
    position: absolute;
    transform-origin: bottom;
  }

  & .seconds {
    bottom: 50%;
    left: 50%;
    background-color: red;
    height: 45%;
    width: min(1vh, 1vw);
    border-radius: calc(1cqi * 2);
    z-index: 7;
  }

  & .minutes {
    bottom: 50%;
    left: 48.5%;
    height: 37%;
    width: min(2.5vh, 2.5vw);
    border-radius: calc(2.5cqi * 2);
    z-index: 8;
  }

  & .hours {
    bottom: 50%;
    left: 48.5%;
    height: 26%;
    width: min(2.5vh, 2.5vw);
    border-radius: calc(2.5cqi * 2);
    z-index: 9;
  }

  & .dot {
    width: min(6vh, 6vw);
    height: min(6vh, 6vw);
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
  }

}
