<footer
  [style.--line-width]="cs.lineWidth"
  [style.--line-height]="cs.lineHeight"
  [style.--container-direction]="cs.containerDirection"
>
  <div *ngIf="cs.containerDirection === 'column'" class="horizontal-line"></div>
  <div *ngIf="cs.containerDirection === 'row'" class="vertical-line"></div>
  <nav [style.--nav-direction]="cs.navDirection">
    <app-icon-digital
      *ngIf="ss.currentClock === 'analogue'"
      [iconSize]="cs.iconSize"
      [strokeColour]="cs.mode.color"
      [fillColour]="cs.mode.color"
      title="Digital clock"
      (click)="ss.toggleClockType()"
    ></app-icon-digital>
    <app-icon-analogue
      *ngIf="ss.currentClock === 'digital'"
      [iconSize]="cs.iconSize"
      [strokeColour]="cs.mode.color"
      [fillColour]="cs.mode.color"
      title="Analogue clock"
      (click)="ss.toggleClockType()"
    ></app-icon-analogue>
  </nav>
</footer>
